* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: monospace;
  font-size: 2rem;
  height: 100vh;
  color: #000000; /* Black text color */
  background-color: #d4ebf2; /* Light sky blue background color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112rem;
  gap: 4rem;
  padding: 6rem 0;
  border: 2px solid #524e4e; /* Light gray border */
  outline: 2px solid #2f2d2d; /* White outline */
  outline-offset: 1.2rem;
  background-color: #a4cdf0; /* Lighter sky blue background for the app */
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: #000000; /* Black text color */
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
  color: #000000; /* Black text color */
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  background-color: #c2e8f4; /* Light sky blue input background color */
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 5px;
  width: 32rem;
}

input:focus {
  outline: 2px solid #fff; /* White outline on focus */
}

.weather {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.day {
  background-color: #b6d9e4; /* Light sky blue background for each day */
  padding: 1.6rem 0 2rem;
  width: 12.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.day span {
  font-size: 5.2rem;
}

.day.important {
  background-color: #cfeaf7; /* Slightly different shade for important days */
  outline: 2px solid #fff; /* White outline for important days */
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000000; /* Black text color */
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: #d4ebf2;
  border: 2px solid #d4ebf2;
  font-family: monospace;
}

.button-container button:hover {
  background-color: #a4cdf0;
  border: 2px solid #fff;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-right: 80px;
}

.savedlocation {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 36rem;
  width: 100%;
  background: #a4cdf0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 160px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
}
.savedlocation li {
  margin-left: 1rem;
  margin-top: 10px;
}
.savedlocation span {
  display: block;
  text-align: right;
  color: rgb(230, 8, 8);
  font-weight: bolder;
  margin-right: 1.9rem;
  position: relative;
  top: -14px;
  cursor: pointer;
}
